.vscode
#!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json
#!.vscode/extensions.json
*.code-workspace
.idea
#.gitignore
node_modules
dist
.*.swp
.pyc
db
.devcontainer
out
.bash_history
.npm
package-lock.json
docker-compose.yml
